SECRET_KEY=EXAMPLE
ALGORITHM=EXAMPLE
ACCESS_TOKEN_EXPIRE_MINUTES=99
DATABASE_URL=mysql+pymysql://your:password@localhost:3306/university_platform

MINIO_ENDPOINT=localhost:9000
MINIO_ACCESS_KEY=EXAMPLE
MINIO_SECRET_KEY=EXAMPLE
MINIO_BUCKET=portal-avp
MINIO_SECURE=false

EMAIL_API_URL=EXAMPLE
EMAIL_API_KEY=EXAMPLE
EMAIL_FROM=example@example.dev
