SECRET_KEY=EXAMPLE
ALGORITHM=EXAMPLE
ACCESS_TOKEN_EXPIRE_MINUTES=99
DATABASE_URL=mysql+pymysql://your:password@localhost:3306/university_platform
CORS_ALLOW_ORIGINS=http://localhost:3100,http://127.0.0.1:3100,http://SEU_IP_LOCAL:3100

MINIO_ENDPOINT=localhost:9000
MINIO_ACCESS_KEY=EXAMPLE
MINIO_SECRET_KEY=EXAMPLE
MINIO_BUCKET=portal-avp
MINIO_SECURE=false

EMAIL_API_URL=EXAMPLE
EMAIL_API_KEY=EXAMPLE
EMAIL_FROM=example@example.dev
RESEND_API_URL=https://api.resend.com/emails
RESEND_API_KEY=EXAMPLE
OTP_LENGTH=6
OTP_EXPIRATION_MINUTES=10
